.row {
    margin-right: 0;
    margin-left: 0;
}

.col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dataTables_filter {
    display: none;
}

.dataTables_info {
    display: none;
}

tbody td {
    font-size: 13px;
}

#table-wrapper {
    padding-top: 48px;
}

.navbar-right {
    margin-right: 0;
}

